.aboutNav {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.aboutBackground {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 15vh;
    background-image: linear-gradient(rgba(9, 81, 127, 0.8), rgba(9, 81, 127, 0.8)), url(../../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:5vh;
    padding-top:2vh;
    width:100%;
}

.aboutGraphic {

    color: #ffffff;
    /*padding-right: 12.5%;*/
    font: 700 3em/1.2em 'Work', sans-serif;
    /*padding-left:400px;*/
}

.aboutTxt {
    height: 60vh;
    position: relative;
    padding-left: 3%;
    overflow-y: scroll;
    width:80%;
}

.aboutContent{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}

.breadcrumb {
    margin-bottom: 0.5%;
    font-family: 'Work', sans-serif;
}

.aboutTabs > a {
    font-family:'Work', sans-serif;

}
.nav-pills > li.active > a {
    background-color: #09517f;
    font-family: 'Work', sans-serif;

}